@model viagem.Models.Contato

@{
    ViewData["Title"] = "Contato";
}

<body>
    <section id="contato">
        <div class="content">
            <div class="content-space">
                <h1>Contato.</h1>
                <div class="container">
                    <form asp-action="Contato" method="post" class="row">
                        <div class="col-3 form-group">
                            <label class="sr-only control-label">Nome</label>
                            <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Digite seu nome" asp-for="Nome">
                        </div>
                        <div class="col-3 form-group">
                            <label class="sr-only control-label">email</label>
                            <input type="email" class="form-control mb-2 mr-sm-2" placeholder="Digite seu email" asp-for="Email">
                        </div>
                        <div class="col-3 form-group">
                            <label class="sr-only control-label">Numero</label>
                            <input type="tel" class="form-control mb-2 mr-sm-2" placeholder="Digite seu Número" asp-for="Telefone">
                        </div>
                        <div class="col-3">
                            <button type="submit" value="Submit" class="btn btn-primary">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>