@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="tema">
        <section class="intro">
            <div class="content img-fluid">
                <div class="content-space">
                    <h1>DHI CORAÇÃO</h1>
                    <p>AGENCIA DE VIAGEM.</p>
                </div>
            </div>
        </section>
    </div>
</body>
