@{
    ViewData["Title"] = "Promocao";
}

<body>
    <section id="promocao">
        <div class="content">
            <div class="content-space">
                <h1>Promoções.</h1>
            </div>
        </div>
    </section>
</body>